.header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;

  width: 100%;
  padding: 0 48px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background-color: #fff;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.3);
}

.logo {
  display: flex;
  align-items: center;
}

.list {
  display: flex;
  gap: 1rem;
}

.list a {
  text-decoration: none;
  cursor: pointer;
  color: var(--color-primary-500);
}

.list a:hover,
.list a.active {
  font-weight: 800;
  text-decoration: underline;
  color: var(--color-primary-900);
}

.toggle {
  display: none;
}

@media (max-width: 768px) {
  .list {
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  .list li {
    text-align: center;
    padding: 5px 0;
  }

  .toggle {
    display: block;
    cursor: pointer;
  }

  /*토글버튼 누를때 드롭다운 메뉴로*/
  .nav {
    display: flex;
    flex-direction: column;
    align-items: center;

    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;

    background-color: #fff;
    border-top: 1px solid var(--color-gray-300);
    box-shadow: 1px 2px 9px rgba(0, 0, 0, 0.3);

    transform: scaleY(0);
    transform-origin: top center;
    transition: transform 0.3s ease-in;
  }

  .open {
    transform: scaleY(1);
  }
}
