.form {
  width: 80%;
  margin: 32px auto;
  padding: 30px;
  background-color: var(--color-gray-100);
  border-radius: 20px;
}

.form p {
  margin: 30px auto;
}

.form label,
.form input,
.form textarea {
  display: block;
  width: 100%;
  font-size: 18px;
  font-weight: 700;
}

.form label {
  margin-bottom: 10px;
}

.form input,
.form textarea {
  font: inherit;
  padding: 10px;
  border: none;
  border-radius: 20px;
}

.actions {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
}

.actions button {
  font: inherit;
  cursor: pointer;
  padding: 8px 24px;
  border-radius: 20px;
  background-color: var(--color-gray-200);
  color: var(--color-gray-800);
  border: none;
}

.actions button[type="button"] {
  background-color: transparent;
  color: var(--color-gray-500);
}

.actions button:hover {
  color: var(--color-gray-900);
  background-color: var(--color-sub-400);
}

.actions button[type="button"]:hover {
  color: var(--color-gray-200);
  background-color: var(--color-gray-800);
}
