.container {
  margin: 0 auto;
  width: 100vw;
  /*푸터 하단에 고정*/
  height: 140px;
  /* transform: translateY(-100%); */
}

.topBox {
  position: relative;
  width: 100%;
  padding: 50px 10px;
  display: flex;
  justify-content: space-between;
  background-color: var(--color-gray-100);
}

.topLeft {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.topLeft p {
  width: 50%;
  font-weight: 700;
}

.topRight {
  width: 50%;
  display: flex;
  justify-content: space-around;
  border-left: 2px solid var(--color-gray-400);
}

.topRight h3 {
  text-align: center;
}

.use-stack {
  flex: 0.8;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.5;
}

.use-stack li:hover {
  color: var(--color-primary-600);
  font-weight: 700;
  cursor: pointer;
}

.link {
  flex: 0.2;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.bottomBox {
  text-align: center;
  background-color: var(--color-gray-100);
  padding: 20px;
  border-top: 1px solid var(--color-gray-200);
}

.bottomBox p {
  margin: 0 auto;
  color: var(--color-gray-500);
  margin-bottom: 5px;
}

@media (max-width: 768px) {
  .topBox {
    flex-direction: column;
    padding: 0 40px;
  }

  .topLeft {
    width: 100%;
    flex-direction: row;
    padding: 20px;
  }

  .topRight {
    width: 100%;
    margin-top: 20px;
    flex-direction: column;
    justify-content: center;
    border-left: none;
    border-top: 1px solid var(--color-gray-400);
  }
  .topRight > div h3 {
    margin-top: 20px;
  }

  .use-stack {
    width: auto;
    margin: 20px auto;
  }

  .link {
    margin-bottom: 20px;
  }
}
