/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

main {
  text-align: center;
  margin: 2rem auto;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
