* {
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --color-gray-100: #f4f3f1;
  --color-gray-200: #dddbd8;
  --color-gray-300: #ccc9c6;
  --color-gray-400: #aeaba7;
  --color-gray-500: #8a8784;
  --color-gray-600: #656360;
  --color-gray-700: #4b4a47;
  --color-gray-800: #31302e;
  --color-gray-900: #1f1d1b;

  --color-primary-100: #ead7e8;
  --color-primary-200: #d4b0d2;
  --color-primary-300: #be8abc;
  --color-primary-400: #a764a6;
  --color-primary-500: #8f3d90;
  --color-primary-600: #77037b;
  --color-primary-700: #630d66;
  --color-primary-800: #4f1051;
  --color-primary-900: #3d113d;

  --color-error-light: #ce0000;
  --color-error-dark: #c11c0a;
}
